* {
  box-sizing: border-box;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* padding: 0; */
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

img {
  display: block;
}

.container {
  max-width: 1201px;
  padding: 60px 15px 30px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}

.main {
  width: 870px;
  /* height: 200px;
  background-color: #c4dcef; */
}

.sidebar {
  width: 270px;
  height: 200px;
  background-color: #7aed9e;
}

.cards-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  gap: 30px;
}

a.card-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /* color: #000; */
  transition: all 0.15s ease-in;
}

a.card-link:hover {
  /* filter: brightness(1.1); */
  opacity: 0.8;
}

.card {
  position: relative;
  width: 270px;
  height: 334px;
  background-color: #fff;
}

.card__badges {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 15px;
  display: flex;
  gap: 10px;
}

.card__badge {
  padding: 3px 10px;
  border-radius: 4px;
  /* line-height: 14px; */
}

.card__badge--class {
  color: #000;
  background-color: #ffcf26;
}

.card__badge--credit {
  color: #fff;
  background-color: #11be75;
}

.card__img {
  width: 270px;
  height: 200px;
}

.card__content {
  padding: 16px 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
}

.card__term {
}

.card__metro {
  position: relative;
  padding-left: 26px;
}

.card__metro::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 11px;
  content: url("./../img/icons/metro.svg");
  display: block;
}

.card__address {
  color: #777777;
}

.btn-more {
  width: 100%;
  height: 80px;

  background-color: #e5e5e5;
  border-radius: 4px;

  font-size: 18px;
  color: #4290c9;
  text-align: center;

  cursor: pointer;

  transition: all 0.15s ease-in;
}

.btn-more:hover {
  background-color: #d7d4d4;
}

.btn-more img {
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
}
