* {
  box-sizing: border-box;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* padding: 0; */
}

button {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

img {
  display: block;
}

.none {
  display: none !important;
}

.container {
  max-width: 1200px;
  padding: 60px 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 600px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  gap: 30px;
}

.main {
  max-width: 870px;
  /* height: 200px;
  background-color: #c4dcef; */
}

.sidebar {
  width: 270px;
}

@media (max-width: 900px) {
  .sidebar {
    width: 300px;
    /* display: none; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);
    overflow-y: scroll;
    transform: translateX(-110%);
    transition: transform 0.3s ease-in;
  }

  .sidebar--mobile-active {
    transform: translateX(0%);
  }
}

.cards-holder {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 30px;
}

.card-link--hidden {
  display: none !important;
}

a.card-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /* color: #000; */
  transition: all 0.15s ease-in;
}

a.card-link:hover {
  /* filter: brightness(1.1); */
  opacity: 0.8;
}

.card {
  position: relative;
  width: 270px;
  height: 334px;
  background-color: #fff;
}

.card__badges {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 15px;
  display: flex;
  gap: 10px;
}

.card__badge {
  padding: 3px 10px;
  border-radius: 4px;
  /* line-height: 14px; */
}

.card__badge--class {
  color: #000;
  background-color: #ffcf26;
}

.card__badge--credit {
  color: #fff;
  background-color: #11be75;
}

.card__img {
  width: 270px;
  height: 200px;
}

.card__content {
  padding: 16px 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
}

.card__metro {
  position: relative;
  padding-left: 26px;
}

.card__metro::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 11px;
  content: url("./../img/icons/metro.svg");
  display: block;
}

.card__address {
  color: #777777;
}

.btn-more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80px;

  background-color: #e5e5e5;
  border-radius: 4px;

  font-size: 18px;
  color: #4290c9;
  text-align: center;

  cursor: pointer;

  transition: all 0.15s ease-in;
}

.btn-more:hover {
  background-color: #d7d4d4;
}

.btn-more img {
  margin-right: 10px;
}

.widget {
  /* width: 271px; */
  width: 100%;
  padding: 1px 0 2px;
}

.widget--mt-27 {
  margin-top: 27px !important;
}

.widget + .widget {
  margin-top: 30px;
}

.widget__title {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  cursor: pointer;
}

.widget__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -1px;
  top: -3px;

  width: 24px;
  height: 24px;

  background-image: url("./../img/icons/chevron-up.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}

.widget__title--active::after {
  transform: rotate(180deg);
}

.widget__body {
  transition: all 0.3s ease-in;
}

.widget__body--hidden {
  display: none;
}

.location__row {
  height: 50px;
  display: flex;
  border: 1px solid #d6d6d6;
  overflow: hidden;
  font-weight: 500;
}

.location__row:first-child {
  border-radius: 4px 4px 0 0;
}

.location__row:last-child {
  /* border: 1px solid #d6d6d6; */
  border-radius: 0 0 4px 4px;
  border-top: none;
  font-size: 16px;
  line-height: 1.18;
}

.location__btn {
  flex-grow: 1;

  font-family: inherit;
  padding: 16px;
  font-weight: 500;
  color: #3c3c3c;
  text-align: center;
  background-color: transparent;

  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.location__btn:hover {
  background-color: #ffd0267d;
}

.location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.location__checkbox:checked + .location__btn {
  background-color: #ffcf26;
}

.location__checkbox:checked + .location__btn:hover {
  background-color: #e0b000;
}

.radio {
  display: block;
  cursor: pointer;
  height: 20px;
}

.radio + .radio {
  margin-top: 15px;
}

.radio__real,
.checkbox__real,
.toggle__real {
  width: 1px;
  height: 1px;
  opacity: 0;
  appearance: none;
  position: absolute;
}

.radio__real:checked + .radio__fake::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #3c3c3c;

  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.radio__fake {
  margin-right: 7px;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;

  border: 1px solid #777777;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: bottom;
}

.radio__real:checked + .radio__fake {
  background-color: #ffe074;
}

.radio__title,
.checkbox__title,
.toggle__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #3c3c3c;
}

.radio__real:checked ~ .radio__title {
  font-weight: 500;
  color: #000;
}

.checkbox {
  display: block;
  cursor: pointer;
  height: 20px;
}

.checkbox + .checkbox {
  margin-top: 15px;
}

.checkbox__fake {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 2px;

  background-color: transparent;

  border: 1px solid #777777;
  vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake {
  background-color: #ffe074;
}

.checkbox__real:checked + .checkbox__fake::before {
  content: url("./../img/icons/check.svg");
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
}

.checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
  color: #000;
}

.widget__btn-hidden--show {
  margin-top: 15px;
  display: inline-block;
  background: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;

  color: #4290c9;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.widget__btn-hidden--show:hover {
  color: #056cb5;
  text-decoration: underline;
}

.checkbox--hidden {
  margin-top: 15px;
  display: none;
}

.toggle {
  cursor: pointer;
}

.toggle__fake {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 37px;
  height: 20px;
  border: 1px solid #777777;
  border-radius: 10px;

  background-color: #c4c4c4;

  vertical-align: bottom;
}

.toggle__fake::before {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);

  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #3c3c3c;
  border-radius: 50%;

  transition: all 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake {
  background-color: #ffe074;
}

.toggle__real:checked + .toggle__fake::before {
  left: 17px;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 50px;
  background-color: transparent;

  border: 1px solid #d6d6d6;
  border-radius: 4px;

  text-align: center;
  color: #3c3c3c;
  font-family: inherit;
  font-size: 16px;
  /* line-height: 1.18; */
  line-height: 50px;

  cursor: pointer;
  transition: all 0.2s ease-in;
}

.form-btn:hover {
  background-color: rgb(237, 237, 237);
}

.form-btn + .form-btn {
  margin-top: 10px;
}

.form-btn img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.form-btn--submit {
  color: #000;
  background-color: #ffcf26;
  border: none;
}

.form-btn--submit:hover {
  background-color: #ffe173;
}

.toggle-sidebar {
  display: none;
  position: fixed;
  right: 15px;
  top: 8px;
  width: 45px;
  height: 45px;
  background-color: rgb(71, 71, 71);
}

@media (max-width: 900px) {
  .toggle-sidebar {
    display: block;
  }
}

.menu-icon-wrapper {
  z-index: 3;
  width: 45px;
  height: 45px;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: 10px;

  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background-color: #fff;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: -10px;

  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background-color: #fff;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in;
}
